@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f1d3b2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
}

.quiz-container {
  background-color: #f1d3b2;
  color: #3a6447;
  border: 2px solid #3a6447;
  border-radius: 10px;
  width: 560px;
  height: 400px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.fake-navbar {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #3a6447;
  font-weight: 400;
}

i {
  margin: 3px;
}

button {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  color: #3a6447;
  border: 2px solid #3a6447;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #3a6447;
  color: #f1d3b2;
}

.quiz {
  padding: 10px;
  position: relative;
  height: 370px;
}

.question {
  font-weight: 600;
  font-size: 24px;
  line-break: strict;
}

.answers-container {
  font-size: 18px;
  font-weight: 400;
}

li {
  list-style: none;
  line-break: strict;
  margin: 8px auto;
}

.next {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 120px;
  height: 50px;
}

.next:hover {
  transform: scale(0.98);
}

.score-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.score-container .score {
  font-size: 22px;
  font-weight: 600;
}

.score-container .reload {
  width: 200px;
  height: 50px;
}

@media screen and (max-width: 360px) {
  .quiz-container {
    width: 260px;
    height: 520px;
  }

  .fake-navbar {
    height: 50px;
    width: 100%;
    font-size: 15px;
  }

  .icones {
    width: 50%;
  }

  .icones i {
    font-size: 13px;
  }

  .quiz {
    height: 450px;
  }

  .next {
    bottom: 10px;
    width: 200px;
  }
}
